@font-face {
  font-family: norse;
  src: url(../norse-font.otf);
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html, body {
  margin: 0;
  height: 100%;
}

body {
  display: flex;
}

.image-container {
  flex: 1 1 0%;
  display: flex;
  position: relative;
  width: max(350px, 100%);
  min-height: 100%;
}

.background-image {
  position: absolute;
  width: max(350px, 100%);
  min-height: 100%;
}

.logo-container {
  margin-top: 7em;
  position: absolute;
  display: flex;
  width: max(350px, 100%);
  background-color: rgba(255,255,255,0.5);
  align-items: center;
  justify-content: center;
}

.logo-image {
  width: 15%;
}

.logo-text {
  font-size: 4em;
  font-family: norse, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.content-container {
  flex: 2 1 0%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.content-container > * {
  display: flex;
  justify-content: center;
  align-items: center;
}

:root {
  --header: 20%;
  --footer: 20%;
  --main: calc(100% - calc(var(--header) + var(--footer)));
  --content-background: WhiteSmoke;
  --system-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

}

#header {
  height: var(--header);
  background-color: var(--content-background);
  display: flex;
  flex-direction: column;
}

#main {
  height: var(--main);
}

#footer {
  height: var(--footer);
  background-color: var(--content-background);
}

h1 {
  font-size: 1rem;
  font-family: var(--system-font);
}

h1:first-child{
  font-weight: bold;
}

p {
  font-size: 1rem;
  font-family: var(--system-font);
}

